<h1>Editing channels</h1>

<% form_for(@channels) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @channels %> |
<%= link_to 'Back', channels_path %>
